{{ define "create" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Добавление статьи</h1>
    <form action="/savePost" method="post">
        <input type="text" name="title" id="title" placeholder="Название статьи"
        class="form-control"><br>
        <textarea name="content" id="content" class="form-control" placeholder="Введите содержание статьи"></textarea><br>
        <button class="btn btn-warning">Опубликовать</button>

    </form>
</main>


{{ template "footer" }}
{{ end }}



